{% extends 'base.html' %}

{% block body %}
<h3>Buyer/Renter Information</h3>

<h4>{{ Item.RenterInfo.username }}</h4>

<h1>
        {{ Item.ProductModel }}
    </h1>
    <img src="{{ Item.ProductImage.url }}" >
    <div>
                    <p>
                        {{ Item.Description }}
                    </p>
                    <h3>
                        Price: {{ Item.ProductPrice }}
                    </h3>
                    <h4>
                        {% if Item.CurrentStatus == 0  %}
                            Item for Sale
                        {% elif Item.CurrentStatus == 1 %}
                            Item for Rent
                        {% endif %}
                    </h4>

    </div>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div>
            <div>
                <span>{{ field.errors }}</span>
            </div>
            <p>
                <label>{{ field.label_tag }}</label>
            {{ field }}
            </p>
        </div>
        {% endfor %}
        <button type="submit"> Submit</button>
    </form>


{% endblock %}