{% block body %}
{% endblock %}

{% load static %}

{% if user.is_authenticated == True and user.is_active == True%}
    <br>
    <a href="{% url 'logout' %}">Logout</a>
    <br>
    <a href="{% url 'updateuser' %}">Update Information</a>
    <br>
    <a href="{% url 'Dashboard:dashboard' %}">My Dashboard</a>
{%  else %}
    <br>
    <a href="{% url 'login' %}?next={{ request.path }}">Login</a>
    <br>
    <a href="{% url 'register' %}">Register</a>
    <br>
    <a href="{% url 'contactus' %}">Contact Us</a>
{% endif %}


<br>
<a href ="/">Home</a>
 Us
<br>
<label for="search">Search: </label>
<input type="text" id="search" name="search" />
{% csrf_token %}
<ul id="search-results">

</ul>

<script src="{% static 'js/jquery1.js' %}"> </script>
<script src="{% static 'js/getResults.js' %}"></script>


