{% extends 'base.html' %}


{% block body %}
    {# Show all the categories here! #}
    <h1>{{ SubCat.Name }}{{ Category.Name }}</h1>
    {% for item in Items %}
        <div>
            <div>
                <h3>{{ item.ProductModel }}</h3>
            </div>
            <div>
                <!-- Add Link to Details Here -->
                <a href="{% url 'itemDetail' item.slug item.id %}">
                    <img src="{{ item.ProductImage.url }}">
                </a>
                <div>
                    <h3>
                        Price: {{ item.ProductPrice }}
                    </h3>
                    <h4>
                        {% if item.CurrentStatus == 1  %}
                            Item for Sale
                        {% elif item.CurrentStatus == 2 %}
                            Item for Rent
                        {% endif %}
                    </h4>
                </div>
            </div>
        </div>
    {% endfor %}


    <a href="{% url 'requestItem' %}">Request a new Item</a>


{% endblock %}
